*{
    margin: 0;
    padding: 0;
}
.Manrope{
    font-family: 'Manrope', sans-serif;
}
.slide-img{
    width: 100%;
    min-height: 550px !important;
    background: url(./img/1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slide-text{
    position: relative !important;
    bottom: 0 !important;
    right: 0;
    max-width: 200px;
    height: 100px;
    background: red;
}

/*count*/
.radial-progress1{
    rotate: 140deg;
}
.radial-progress2{
    rotate: 120deg;
}
.radial-progress3{
    rotate: 110deg;
}
.radial-progress4{
    rotate: 120deg;
}
.count-numbar{
    transform: rotate(220deg);
}
.count-numbar2{
    transform: rotate(240deg);
}
.count-numbar3{
    transform: rotate(250deg);
}
.count-numbar4{
    transform: rotate(240deg);
}
.radial-progress::before{
        background-color: #f7f7fc !important;
}



/*Program section*/
.row-1{
    background: url(./img/2.png);
}
.row-2{
    background: url(./img/3.png);
}

.row-3{
    background: url(./img/4.png);
}


/*Our New Products*/


/*form section*/
form input{
    background: #13131808
    ;
}

form textarea{
    padding: 10px;
    outline: none;
    background: #13131808
    ;
    border-radius: 16px;
}

@media screen and (max-width:576px) {
    .slide-img{
        min-height: 300px !important;
        border: 2px solid red;
    }
}

.line{
    border: 1px solid red ;
}