*{
    margin: 0;
    padding: 0;
}

.Manrope{
    font-family: 'Manrope', sans-serif;
}




.slide-image{
    width: 100%;
    height: 550px;
    background: url(./img/1.png);
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover;
    border-radius: 16px;
}
.slideimg-2{
    background: url(./img/h-b.jpg);
    
    background-position: center;
    background-size: cover;
}
.slideimg-3{
    background: url(./img/hockey-man.webp);
    background-position: center;
    background-size: cover;
}
.slide-text{
    width: 45%;
    position: absolute;
    bottom: 32px;
    right: 32px;
    background: black;
    color: white;
    padding: 20px;
    border-radius: 16px;
}



@media screen  and (max-width:640px){
    #slide1{
        height: 510px;
    }
    .slide-image{
        width: 100%;
        height: 300px;
    }
    .slide-text{
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        background: black;
        color: white;
        padding: 20px;
        border-radius: 16px;
    }

    .slide-btn{
        justify-content: center;
        left: 0px !important;
        top: 320px;
        width: 100%;
    }
}
@media screen  and (max-width:576px){
    #slide1{
        height: 490px;
    }

}
@media screen  and (max-width:481px){
    #slide1{
        height:500px;
    }
}
@media screen  and (max-width:395px){
    #slide1{
        height:520px;
    }
    .slide-btn{
        justify-content: center;
        left: 0px !important;
        top: 325px;
        width: 100%;
    }
}
@media screen  and (max-width:376px){
    #slide1{
        height:540px;
    }
    .slide-btn{
        justify-content: center;
        left: 0px !important;
        top: 340px;
        width: 100%;
    }
}
@media screen  and (max-width:325px){
    #slide1{
        height:560px;
    }
}




/* navbar
.btn-ghost:hover{
        background: none;
}
.menu a{
    font-size: 18px;
    font-weight: 600;
}
.menu li a:hover{
    background: none;
}

.slide-content{
    width: 45%;
    height: auto;
    bottom: 30px;
    right:30px;
    background: black;
    z-index: 11111111111;
    position: absolute;
    border-radius: 16px;
}
.slide-content1{
    width: 100%;
    height: auto;
    top: 400px;
    left: 0;
    right:0;
}

.slide-img{
    height: 550px;
}
@media screen and (max-width:576px) {
    .slide-content{
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        right:0;
        z-index: 88888;
    }
    .slide-img{
        height: 250px !important;
     }

} */
/*count*/
.radial-progress1{
    rotate: 140deg;
}
.radial-progress2{
    rotate: 120deg;
}
.radial-progress3{
    rotate: 110deg;
}
.radial-progress4{
    rotate: 120deg;
}
.count-numbar{
    transform: rotate(220deg);
}
.count-numbar2{
    transform: rotate(240deg);
}
.count-numbar3{
    transform: rotate(250deg);
}
.count-numbar4{
    transform: rotate(240deg);
}
.radial-progress::before{
        background-color: #f7f7fc !important;
}


/*Program section*/
.row-1{
    background: url(./img/2.png);
}
.row-2{
    background: url(./img/3.png);
}
.row-3{
    background: url(./img/4.png);
}

/*form section*/
form input{
    background: #13131808
    ;
}

form textarea{
    padding: 10px;
    outline: none;
    background: #13131808;
    border-radius: 16px;
}

@media screen and (max-width:576px) {
    form textarea{
       height: 220px;
       outline: none !important;
    }
}


